{% extends 'base.html' %} {% block content %}

<!-- Channel profile pic , name & number of  subscriber -->
<div class="channel-detail">
  <span class="profile-pic">
    {% if channel.profile_pic %}
    <img
      src="{{channel.profile_pic.url}}"
      alt=""
      class="channel-profile"
      srcset=""
    />
    {% endif %} {% if not channel.profile_pic %}
    <img src="" alt="Not set yet !" class="channel-profile" srcset="" />
    {% endif %}
  </span>
  <div class="channel-name-subscriber">
    <div class="channel-name">
      <span class="channel-name-text" id="channel-name">
        {{channel.channel_name}}
      </span>
    </div>
    <div class="channel-subscriber text-muted">{{subscription}}</div>
    {% if user.is_authenticated %}
    <div class="mt-1">
      <a href="/channel/subscription/{{channel.id}}" class="btn btn-danger {% if subscribed %} disabled  {% endif %}" >Subscribe</a href="channel/subscribe/{{channel.id}}">
    </div>
    {% endif %}
  </div>
</div>


<div class="video-gallery row">

  <!-- IF any error show error message -->
  <div class="errors text-center text-danger">
    {% if error %} {{error}} {% endif %}
  </div>

<!-- Loading videos list -->

  {% for video in videos %}
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a href="/video/{{video.id}}" class="card mb-3">
      <img src="{{video.thumbnail.url}}" class="card-img-top" alt="Thumbnail" />
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p>
          <span class="channel"
            ><i class="fas fa-play"></i
            ><span class="channel-name text-muted">
              {{video.user.channel_name}}</span
            ></span
          >
        </p>
        <p class="card-text">
          <small class="text-muted">{{video.uploaded_at}}</small>
        </p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
